/*-------------------------
------Universal Rules-------
--------------------------*/
audio {
    z-index: 999;
}

:root {
    --color1: rgb(100,0,400);
    --color2: rgba(100,0,400, .7);
    --color3: #1A607F;
    --color4: #007BB2;
    --color5: #4691B2;
    --bg: #00334A;
    --dark: #00334A;
    --light: #4691B2;
    --display-1: 'Cinzel Decorative';
    --display-2: 'Megrim';
    --display-3: 'Fascinate';
    --display-4: 'Almendra';
    --display-5: 'Elsie Swash Caps';
    --display-6: 'Srisakdi';
    --p-1: 'Montserrat Alternates';
    --p-2: 'Poiret One';
    
}



* {
    box-sizing: border-box;
}

html:focus, body:focus, .links a:focus{
    outline: none !important;
}

html, body{
    height: 100%;
    min-height: 100%;
}

body{
    margin:0;
    padding: 0;
    width:100%;
/*    background-color: #00334A;*/
    color: aliceblue;
    font-family: var(--display-2);
    font-weight: bold;
/*    background-image: url(images/flora-bg.jpg);*/
/*    background-attachment: fixed;*/
    animation-name: bg-color;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

body i{font-weight: normal;}


@keyframes text-color{
    0%{color: gold;}
    25%{color: greenyellow};
    50%{color: palegreen;}
    100%{color: gold;}
}

section h2 {
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 0;
    font-family: var(--display-5) ;
/*    animation: text-color 15s alternate-reverse infinite ease-in-out;*/
/*    mix-blend-mode: difference;*/
    animation: text-color 10s alternate-reverse infinite ease-in-out;
    text-shadow: 1px 1px 4px black;
    
}

ol, ul{
    list-style: none;
    padding-inline-start: 0px;
}

a {
    text-decoration: none;
    color: inherit;

}

i {
    font-size:32px;
    
}

.flex{
    display: flex;
    align-items:center;
    justify-content: center;
}

.flex-wrap {
    display: flex;
    flex-flow: wrap;
}

.bg-container{
    height: 100%;
    position: absolute;
    z-index: -1;
    width: 100%;
    display: inline-block;
    mix-blend-mode: difference;
}

#main-content{
    height: 100%;
    display: block;
    width: 100%;
}

.site-wrapper{
    width: 100%;
    height: 100%;
/*    display: inline-block;*/
/*    background-image: url(images/flora-bg.jpg);*/
/*
    background-attachment: fixed;
    background-blend-mode: overlay;
    position: absolute;
    top: 0;
    z-index: 999999999999;
*/
/*    mix-blend-mode: exclusion;*/
}
/*
.flora-overlay{
    width: 100%;
    height: 100%;
    background-image: url(images/flora-bg.jpg);
    background-attachment: fixed;
    display: flex;
    position: absolute;
    top: 100vh;
    z-index: -1;
    mix-blend-mode: difference;
}
*/

.main-bg{
    background-image: url(images/flora-bg2.jpg);
    width: 100%;
    height: 90%;
    background-attachment: fixed;
    top: -5vh;
    position: relative;
    z-index: -1;
    transition: .2s linear all;
    background-size:cover;
    background-repeat: no-repeat;
}

.main-bg2{
    background-image: url(images/stars-bg.jpg);
    width: 100%;
    height: 90%;
    background-attachment: fixed;
    top: -5vh;
    position: relative;
    z-index: -1;
    transition: .2s linear all;
    background-size:cover;
    background-repeat: no-repeat;
}

/*
.bgChange{
    background-image: url(images/stars-bg.jpg);
    transition: .2s linear all;
    height: fill;
    top: 263vh;
}
*/


/*--------------------------
---------HEADER-------------
--------------------------*/
.exclusion{
    mix-blend-mode: color-dodge;
    animation: text-color 1s linear infinite alternate;
}

#header-bar {
    z-index: 202;
    min-height: 50px;
    padding: 1.5rem 2rem;
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: space-between;
    transition: 0.2s all;
    margin: 0;
    align-items: baseline;
}

#header-bar a:hover {
    color: black;
    text-shadow: 5px 2px 15px aliceblue;
    transition: 0.2s all;
}

header .c1{
    order: 2;
/*    flex: 1 1 0%;*/
    text-align: center;
    z-index: 300;
    
}

header .c2{
    order: 3;
/*    flex: 1 1 0%;*/
    text-align: right;
    margin-right: 10px;
}

header .c3{
    order: 1;
/*    flex: 1 1 0%;*/
    text-align: left;
    margin-left: 10px;
}

#social-bar li{
    margin: 0 10px;
    font-size: 32px;
}

#social-bar {
    position: relative;
/*    left: 20%;*/
}

#social-bar li:last-child{
    
}

.c1 h2 {
    font-size: 32px;
    z-index: 204;
    font-family: var(--display-8);
}

#subscribe-icon {
    font-size: 28px;
}

/*---------------------------
-----------Navbar------------
----------------------------*/
#navbar {
    z-index: 219;
}
nav ul{
    z-index: 201;
    margin: 0;
    padding: 0;
    background-color: var(--color1);
    color:aliceblue;
    font-size: 24px;
    width: 100%;
    overflow: hidden;
    display: flex;
}

nav li {
    margin:0;
    border-right: 1px solid #bbb;
    transition: 0.5 all;
}
nav li:last-child{
    border-right: none;
}

nav li a{
    display: block;
    padding: 20px 28px;
    color: inherit;
    transition: .2s all;
    width: 100%;
    height: 100%;
}

nav a:hover{
    background-color: yellowgreen;
    color: var(--color1);
    transition: 0.3 all;
}

/*-------------------------
------HEAD/NAV Dynamics---*/
.sticky {
    position: fixed;
    z-index: 200;
}

nav {
    transition: .2s linear all;
}

nav.sticky {
    top: 84px;
    width: 100%;
    transition: .2s linear all;
}

.sticky + #main-content {
    padding-top: 150px;
}

#main-content {
    transition: .2s all;
/*
    background-image: url(images/flora-bg.jpg);
    mix-blend-mode: difference;
*/
}

#main-content div section{
    mix-blend-mode: normal !important;
}

/*.header-shrink, .nav-shrink{mix-blend-mode: hard-light;}*/


.header-shrink {
    z-index: 500;
    transition: linear .3s all;
    background-color: var(--color1);
    padding: 20px;
    
}

.header-shrink .c1 h2{
    font-size: 30px;
    transition: .3s all;
}

.header-shrink .c2 i{
    font-size: 25px;
    transition: .3s all;
}

.header-shrink .c3 h2{
    font-size: 18px;
    transition: .3s all;
}

.nav-shrink ul{
    padding: 0;
    font-size: 20px;
}

.nav-shrink > ul > li > a{
    padding: 10px 25px;
    margin: 0;
    width: 100%;
    height: 100%;
    transition: .3s all;
}


nav a.active {
/*    background-color: black;*/
}

.active {
    background-color: indigo;
}


/*--------------------------------------------
----------------HERO------------------------
------------------------------------------*/

@keyframes bg-color{
    0%{background-color: purple;}
    20%{background-color: dodgerblue;}
    40%{background-color: forestgreen;}
    60%{background-color: goldenrod;}
    80%{background-color: orange;}
    100%{background-color: red;} 
}

/*
@keyframes text-color{
    0%{color: purple;}
    20%{color: dodgerblue;}
    40%{color: forestgreen;}
    60%{color: yellow;}
    80%{color: orange;}
    100%{color: red;} 
}
*/

#hero {
    height: 93vh; /* vh is percent of viewport */
    width: 100%;
/*    background-image:url(images/ElectricThunderSpread_hero.png);*/
/*    background-image:url(images/flora-bg.jpg);*/
    background-size: cover;
    background-position: center center;
    position: relative;
    animation-name: bg-color;
    animation-duration: 15s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

/*
#hero .overlay {
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    background-color: purple;
    opacity: .9;
}
*/

.hero-bg {
    z-index: 1;
    width: 100%;
    height: 100%;
/*
    animation-name: bg-color;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
*/
    opacity: .4;
    background-image:url(images/flora-bg.jpg);
    background-size: cover;
    background-position: center center;
    position: relative;
    mix-blend-mode:difference;
}

.flora{
    background: url(vid/flora.mp4);
    width: 100%;
    background-size: cover;
    
}

 .layer-2 {
    z-index: 2;
    height: inherit;
    background-image:url(images/BandSpread1_NoBG.png);
    background-size: cover;
    background-position: center center;
    position: relative;
    bottom: 93vh;
    mix-blend-mode: difference;
/*
    animation-name: glow;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
*/
}

.layer-3{
    background-image: url(images/BandSpread1_NoBG.png);
    filter: grayscale(1);
    mix-blend-mode: luminosity;
/*    mix-blend-mode: normal;*/
    height: inherit;
    width: 100%;
    z-index: 1;
    position: absolute;
/*
    position: absolute;
    bottom: 0;
*/
    top: 0;
}

/*
.scene {
    transform: translateY(var(--translateY));
    will-change: transform;
}
*/

.down-arrow {
    position: absolute;
    bottom: 10%;
    text-align: center;
    width: 100%;
    z-index: 205;
}


i#down-arrow.fas.fa-angle-double-down {
    display: block;
    bottom: 0%;
}

.down-arrow i{
    display: block;
    font-size: 56px;
    color: var(--color1);
    opacity: .7;
    text-shadow: 1px 5px 2px black;
    transition: 0.3s all;
}

i#down-arrow.fas.fa-angle-double-down:hover {
    color: aliceblue;
    text-shadow: 1px 5px 5px black;
    transition: 0.3s all;
}

#hero h1{
    z-index: 3;
    position: absolute;
    width: 100%;
    top: 40%;
    text-align: center;
    font-size: 80px;
    text-shadow: 5px 5px 10px black;
    display: none;
}

@keyframes glow {
    from {opacity: 0.9}
    to {opacity: 0.7}
}

.container {
    background-color: var(--color2);
    max-width:75%;
    padding: 40px;
    margin: 10vh auto;
    border-radius: 10px;
}

.hero-email {
    text-align: center;
    width: 100%;
    z-index: 55;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 20%;
}
.hero-email #mc_embed_signup {
    
    width: 500px;
    background-color: var(--color1);
    overflow: hidden; 
    
}

#mc-embedded-subscribe.button.b2 {
    background-color: aliceblue;
    color: black;
    margin: 20px 0px;
}

#mc-embedded-subscribe.button.b2:hover {
    color: aliceblue;
}

#mce-responses {
    font-family: 'Open Sans';
}

div.response#mce-success-response {
    color: aliceblue !important;
    width: 100%;
    text-align: center;
}

div.response#mce-error-response {
    width: 100%;
    text-align: center;
}

/*----Body Rules---*/
section h2 {
    letter-spacing: 4px;
    text-transform: uppercase;
}


/*----------------------------
--------MUSIC SECTION---------
------------------------------*/
.meta{
    text-align: center;
    line-height: 2;
}

.album-info{
    width: 100%;
    font-size: 28px;
    text-align: left;
    margin: : 0;
}

.meta h2{font-size: 34px; text-decoration: underline; font-family: var(--display-5);}

.links{
    display: flex;
    justify-content: center;
    font-size: 20px;
}
.links i{
    font-size: 48px;
}

.links a{
    margin: 20px 20px;
    text-align: center;
    font-size: 24px;
}

.music-btn{
    transition: .2s all linear;
}

.music-btn:hover{
    transition: .2s all linear;
    color: goldenrod;
/*    text-shadow: 1px 1px 5px aliceblue;*/
}

.album-art {
/*    display: inline-flex;*/
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 400px;
/*    margin: 30px;*/
/*    border: ridge 2px gray;*/
    box-shadow: 3px 4px 10px black;
}

#Music {
    text-align: center;
    height: 100%;
    width: 100%;
}

.slick{
    
}

.grid{
    display: grid;
    grid-template-columns: 10% auto auto 10%;
}


.album-art {
    display: inline-flex;
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 400px;
    margin: 30px;
/*    border: ridge 2px gray;*/
}

#Music {
    text-align: center;
    height: 100%;
    width: 100%;
}


#shy {
    background-image:url(images/AlbumArt_Shy.jpg);
}

#canti {
    background-image: url(images/AlbumArt_CantI.jpg);
}

#inmotion {
    background-image: url(images/AlbumArt_InMotion.png);
}

.card {
    box-shadow: 2px 4px 15px 0 black;
    padding: 10px;
    margin: 20px 20px;
    text-align: center;
}

.link-bar {
    position: relative;
    right: 20px;
    align-items: center;
}

.link-bar li{
    margin: 10px 10px;
    flex: auto;
    display: inline-block;
    text-align: justify;
}

.link-bar li{
    display:inline-block;
    text-align: center;
}

.link-bar i {
    font-size: 40px;
}

.link-bar a {
    text-shadow: 5px 2px 15px black;
    transition: 0.2s all;
}

.link-bar a:hover {
    color: black;
    text-shadow: 5px 2px 15px aliceblue;
    transition: 0.2s all;
}


/*---------------------------
--------LIVE SECTION---------
-----------------------------*/

#Live h2{
    text-align: center;
}

.bandsintown-widget {
    height: 50vh;
}

a.bit-button.bit-track-button.bit-offers {
    margin-top: 40px;
    box-shadow: 3px 2px 15px 1px black;
    transition: .3s all;
    background-color: gold;
    color: black;
    font-size: 24px;
    letter-spacing: 2px;
    border-radius: 10px;
    font-family: var(--display-2);
    padding: 2px;
    text-transform: none;
    white-space: nowrap;
    
}

a.bit-button {
    box-shadow: 0px 5px 5px black;
    background-color: aliceblue;
    transition: .2s all;
    fill: black;
}

a.bit-button.bit-track-button.bit-offers:hover {
    background-color: black;
    color: aliceblue;
    box-shadow: 3px 2px 15px aliceblue;
    transition: .3s all;
}


/*---------------------------
---------ABOUT SECTION-------
-----------------------------*/
#About h2 {
    text-align: center;
    
}

#About p {
    font-family: var(--p-2);
    font-size: 24px;
    line-height: 2;
    padding: 24px 75px;;
}

.profile-pic {
    display: inline-block;
    background-image: url(images/ArtistImage.jpg);
    background-size: cover;
    background-position: center center;
    height: 40vh;
    width: 40vh;
    float: left;
    margin-right: 10px;    
}

#About {
    min-height: 500px;
}



.slick-2 div{
    height: 500px;
    width: 80%;
    background-size: cover;
    background-position: center center;
    text-align: center;
    margin: auto;
}

.img1{background-image: url(images/about-img1.JPG);display:inline-block;}
.img2{background-image: url(images/about-img2.JPG);}
.img3{background-image: url(images/about-img3.JPG);}
.img4{background-image: url(images/about-img4.jpg);}
.img5{background-image: url(images/about-img5.jpg);}
.img6{background-image: url(images/about-img6.jpg);}
.img7{background-image: url(images/about-img7.jpg);}
.img8{background-image: url(images/about-img8.jpg);}

/*----------------------------
---------VIDEO SECTION--------
-----------------------------*/

#Video h2{
    text-align: center;
}

.youtube-player{
    width: 100%;
    height: 100vh;
}

#main-content {
    padding: 20px 0px;
    margin: 0 0;
/*
    animation-name: bg-color;
    animation-duration: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
*/
}

/*---------CONTACT SECTION------------------
-------------------------------------------
-------------------------------------------*/

#Contact {
    text-align: center;
    
}

#Contact ul{font-family: var(--p-2); line-height: 2; font-size: 24px;}

.fas.fa-envelope {
    margin-right: 5%;
}

.email a{
    display: inline-flex;
/*    font-size: 20px;*/
    align-items: center;
    transition: .3s all;
}

.email a:hover {
    color: black;
    text-shadow: 1px 5px 8px white;
    transition: .3s all;
}



/*----------------------------------------
----------------LIGHTBOX------------------
------------------------------------------*/
#close-btn {
    text-align: right;
    padding: 0px;
    margin: 0px;
}

.modal-logo {
    font-family: theZains;
    text-align: center;
    font-size: 28px;
    margin: 0 0;
    position: relative;
    left: 0;
    top: 0px;
    margin-bottom: 30px;
    text-shadow: 5px 5px 10px black;
}

.artist-logo {
    background-image: url(images/ArtistLogo_NoText.png);
    background-size: cover;
    background-position: center center;
    height: 150px;
    width: 150px;
    position: relative;
    left: 0px;
    text-align: center;
    margin: 0 auto;
}

#myBtn:hover,
#myBtn:focus {
    cursor: pointer;   
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 500; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 7% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  background-color: #00334A;
  width: 50%; /* Could be more or less, depending on screen size */
}

#mc_embed_signup{
    z-index: 51;
    background:#00334A; 
}

/* The Close Button */
 .close {
  z-index: 55;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  margin: 2%;
  
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.signup-caption {
    padding: 0% 3%;
    margin: 0px;
}

.signup-caption p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    position: relative;
    left: 0;
    margin-bottom: 20px;
}

div.clear {
    text-align: right;
}

#mc-embedded-subscribe.button{
    background-color: #1A607F;
    font-family: 'Knewave', cursive;
    transform: scale(1.5);
    position: relative;
    margin-top: 2%;
    margin-bottom: 3%;
    box-shadow: 0px 2px 15px black;
}

#mc-embedded-subscribe.button:hover {
    background-color: black;
    box-shadow: 0px 2px 15px aliceblue;
}

/*---------------------------------
-------------FOOTER----------------
---------------------------------*/

footer {
    height: 10vh;
    background-color: var(--color1);
    padding: 20px 0px;
    width: 100%;
    display: block;
    display: none;
/*
    position: absolute;
    bottom: 10px;
    z-index: 99999999999;
*/
}

footer span{
    margin-left: 40px;
}


/*----------------------------------
----------Loader Screen-------------
-----------------------------------*/

.loader-bg {
    z-index: 10000;
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loader {
    z-index: 100000;
    border: 16px solid lightgrey;
    border-top: 16px solid gold;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
/*    position: fixed;*/
    text-align: center;
/*    top: 40%;*/
/*    left: 47%;*/
    background-color: black;
/*    box-shadow: 1px 1px 10px aliceblue;*/
}

@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

.loader-caption {
    font-family: var(--display-2);
    text-align: center;
    font-size: 42px;
    display: block;
    color: gold;
/*
    position: fixed;
    top: 25%;
    left: 46%;
*/
/*    text-shadow: 1px 1px 30px #4691B2;*/
}


/*----------------------------------------
--------------Media Quieries---------------*/
@media screen and (max-width: 1400px){
    .album-art{
        height: 300px;
        width: 300px;
        margin-top: 0;
    }
    .grid{
        grid-template-columns: unset;
        display: block;
    }
    .album-info span{
        display: block;
    }
    
    .album-info{
        text-align: center;
    }
    .meta{line-height: 1; }
    .meta h2{ margin-bottom: 0;}
}
@media screen and (max-width: 1280px){
    #About p{font-size: 18px;}
}




@media screen and (max-width: 900px){
    nav ul{font-size: 20px;}
    nav ul li a{padding: 20px;}
    .container{max-width: 100%;}
    .album-art{height: 250px;width:250px;}
    .slick-2 div{height: 350px; width: 90%;}
}
@media screen and (max-width: 800px){
    nav ul{font-size: 18px;}
}

@media screen and (max-width: 700px) {
    body {
        width: 100%;
        overflow-x: hidden !important;
        margin: 0 0;
    }
    
    #header-bar {
        padding: 0px;
        margin: 0px 0px;
        width: 100%;
    }
    
    nav.sticky {
       top: 80px; 
    }
    
    .navbar {
        display: block;
    }
    
    .youtube-player {
        height: 30vh;
    }
    .container {
        max-width: 100%;
    }
    .c1 h2{
        font-size: 18px;
    }
    
    .c3 h2{
        font-size: 15px;
    }
    
    #social-bar i{
        font-size: 24px;
    }
    
    #social-bar {
        position: relative;
        left: 0;
    }
    
    .down-arrow{
        width: 100%;
    }
    
    .hero-email {
        width: 100%;
    }
    
    .site-wrapper {
        width: 100%;
        margin: 0;
    }
/*
    .email a{
        font-size: 16px;
    }
*/
    #About p{font-size: 18px;padding: 20px 0px;}
}

@media screen and (max-width: 600px){
    .profile-pic {
        width: 100%;
    }
    
    .card {
        width: 100%;
    }
    
    .album-art {
        width: 200px;
        height: 200px;
    }
    
    nav ul {
        overflow: visible;
    }
    
    #navbar {
        width: 100%;
    }
    
    .header-shrink .c1 h2{
    font-size: 18px;
    }

    .c1 h2 {
/*       margin-left: 10%; */
    }
    
    .header-shrink .c3 h2{
    font-size: 13px;
    }
    
    .header-shrink .c3 i{
        font-size: 5px;
    }
    
    #navbar > ul > li a{
        width: 100%;
        height: 100%;
/*        padding: 20px 12px;*/
        font-size: 16px;
    }
    
    .nav-shrink > ul > li > a{
    padding: 10px 15px;
    margin: 0;
    width: 100%;
    height: 100%;
    transition: .3s all;
}
    .nav-shrink > ul > li{
/*    font-size:  18px;   */
    }
    
    #header-bar {
        padding: 0px !important;
        justify-content: center;
    }
    
    div.c3 h2 i{
        font-size: 18px !important;
    }
    
        #social-bar > li {
        margin: 0px 5px;
    }
    
    #social-bar {
/*        margin-right: 10%;*/
        justify-content: flex-start;
    }
    .email i {
        font-size: 100%;
    }
    
    #Music i{
        font-size: 36px;
    }
    .header-shrink{min-height: unset; height: 60px;}
    #header-bar{align-items: center;}
    #navbar{top: 60px;}

}

@media screen and (max-width: 500px){
    #social-bar{
        flex-direction: column;
        flex-wrap: wrap;
    }
    #icons{position: fixed; right: 10px; top: 30%;}
    
    .c1 h2{font-size: 24px !important;}
    
    header .c3{
        position: fixed; left: 0px; top: 35%;
        transform: rotateZ(180deg);
    }
    
    header .c3 h2{
        writing-mode: vertical-rl;
        
    }
    
/*    header .c1 h2 a{white-space: nowrap !important;}*/
    
    .album-info{font-size: 20px;}
    .links{margin: 10px 0px;}
    .links i{font-size: 32px;}
    .links a{font-size: 16px; margin: 10px;}
    .album-art{margin: 12px;}
    
    #Contact ul li{font-size: 18px;}
}

@media screen and (max-width: 400px){
    #navbar > ul > li a{
        padding: 15px 8px;
        font-size: 80%;
    }
    
    #About p{
        font-size: 16px;
    }
      
}

@media screen and (max-width: 375px){
/*
    .c1 > h2 > a{
        font-size: 14px;
    }
*/
    
    #social-bar > li {
        margin: 5%;
    }
    
    .nav-shrink > ul > li > a {
        padding: 10px 8px!important;
    }
}

@media screen and (max-width: 335px){
    #Contact ul{
        text-align: left !important;
        
    }
    #Contact ul li a{
        font-size: 80%;
    }
}



.coming-soon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.coming-soon h1{font-family: var(--display-1); font-size: 56px; mix-blend-mode: difference; margin-bottom: 0; text-shadow: 1px 3px 1px green;}

.coming-soon h2{font-size: 32px; letter-spacing: 5px; margin-top: 0; background-color: black; padding: 10px 20px;}

.coming-soon .main-bg{ height: 100%; top: 0;}

.home-btn{
    background-color: var(--color1);
    padding: 20px 0px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 10px;
    animation: text-color 15s linear infinite;
    box-shadow: 1px 5px;
    transition: .2s linear all;
}

.home-btn a{width: 100%; height: 100%;padding: 20px;}

.home-btn:hover{
    letter-spacing: 2px;
    transition: .2s linear all;
    background-color: goldenrod;
    color: indigo !important;
}